.home-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: auto;
    text-align: center;
    margin: 50px;
    
    
}

.add-container-h3 {
    color: rgba(65, 183, 57, 0.76);
    
}

.MuiFab-label {
    color:rgba(65, 183, 57, 0.76);
    
    
}