
.MuiGrid-item {
    margin-top: 10px;
    margin-bottom: 10px;

}

.modalBody {
    background-color: white;
}

.MuiCard-root {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.MuiTableCell-sizeSmall {
    padding: 0px;
    color: blue;
}