.content-container {
    height: calc(100vh - 112px);
    overflow: auto;
    text-align: center;
    
    
}

.App {
    background: linear-gradient(to bottom right, rgb(156, 227, 156), rgb(157, 180, 55) );
   
}

.page-wrapper {
    margin-left: 0px;
}

.content-container {
    margin-left: 0px;
}